.Header {
    height: 60px;
    width: 600px;
    background: rgb(0, 60, 255);
    margin: 20px 10px 0 10px;
}
.Nav {
    height: 50px;
    width: 600px;
    background: rgb(0, 195, 255);
    margin: 0 10px 0 10px;
}
.Main {
    height: 400px;
    width: 400px;
    background: rgb(0, 238, 255);
    margin: 0 0 0 10px;
}
.Asid {
    height: 400px;
    width: 200px;
    background: rgb(140, 0, 255);
    margin: 0 10px 0 0;
}
.Footer {
    height: 50px;
    width: 600px;
    background: rgba(0, 195, 255, 0.521);
    margin: 0 10px 20px 10px;
}
.hor {
    display: flex;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    color: white;
    margin: 0;
}
.margin {
    display: flex;
    justify-content: center;
    margin-top: 40%;
}