.box {
    height: 100px;
    width: 300px;
    background: white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
#logo1, #logo2, #logo3, #logo4, #logo5, #logo6 {
    height: 80px;
    width: 50px;
    margin: 10px 0 0 10px;
}
.hor {
    display: flex;
    justify-content: center;
}
.hor1 {
    display: flex;
}
#head1, #head2, #head3, #head4, #head5, #head6 {
    margin: 10px;
}
#txt1, #txt2, #txt3, #txt4, #txt5, #txt6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:200px;
    margin: 10px;
}
body {
    margin: 0;
}
