.first {
    height: 60px;
}
.second {
    height: 100px;
}
.third {
    height: 200px;
}
.fourth {
    height: 180px;
}
.fifth {
    height: 200px;
}
.sixth {
    height: 900px;
}
.seventh {
    height: 120px;
}
.blue {
    background: #00c9ee;
}
.gray {
    background: #ccd8e3;
}
.dark {
    background: #022c40;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.box {
    height: 100px;
    width: 100px;
}
.invisibleBox {
    height: 120px;
    width: 120px;
}
.borderBox {
    border: 1px solid #00c9ee;
}
.radius {
    border-radius: 10px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hor {
    display: flex;
}
.space {
    justify-content: space-evenly;
}
body {
    margin: 0;
}
