/* Structure */
.logo {
    height: 100px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.header {
    height: 100px;
    width: 600px;
    box-sizing: border-box;
    border: 2px solid white;
}
.nav {
    height: 400px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.bath {
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid white;
}
.ad {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.type {
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid white;
}
.related {
    height: 400px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.store {
    height: 100px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.tools {
    height: 100px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
}
.footer {
    height: 300px;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid white;
}
/* Color */
.silver {
    background: #676767;
}
p {
    margin: 0;
    color: #ff6a77;
}
/* position */
.hor {
    display: flex;
}
#desk1, #desk2, #desk3, #desk4 {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    #mob1, #mob2 {
        display: none;
    }
    #desk1, #desk2, #desk3, #desk4 {
        display: flex;
    }
    .header {
        width: 400px;
    }
    .nav {
        height: 200px;
        width: 100%;
    }
    .bath {
        width: 70%;
    }
    .ad {
        width: 30%;
    }
    .type, .related {
        width: 100%;
    }
    .store, .tools {
        width: 50%;
    }
    .footer {
        width: 600px;
    }


}