* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    color: var(--dark-color);
}
:root {
    --dark-color: #0b2330;
    --black-color: #000000;
}
.wrapper {
    width: 1376px;
    margin: 0 auto;
}
.top_bar {
    height: 83px;
    display: flex;
    justify-content: space-between;
}
.header_logo p {
    font-size: 12px;
    line-height: 16px;
    color: var(--black-color);
}
.nav_menu {
    margin-top: 28px;
    display: flex;
    column-gap: 56px;
}
.left_logo {
    margin-top: 16px;
    text-align: center
}
.nav_buttons {
    margin-left: 120px;
    display: flex;
    column-gap: 24px;
}
.nav_menu_item a {
    margin-top: 28px;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-color);
    text-decoration: none;
}
.nav_btn {
    margin-top: -14px;
    height: 54px;
    width: 163px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 29px;
    background-color: var(--dark-color);
    color: white;
}
.why_spring {
    margin-left: 165px;
}

/* Header Content */

.header_wrap_content {
    display: flex;
}
.header_content {
    margin-top: 154px;
    margin-left: 115px;
    color: var(--dark-color);
}
.header_content h1 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--dark-color);
    width: 430px;
}
.header_content p {
    margin-top: 32px;
    width: 430px;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}
.content_btn {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}
.content_btn_left {
    height: 54px;
    width: 163px;
    padding: 15px 29px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--dark-color);

}
.content_btn_right {
    height: 54px;
    width: 156px;
    padding: 15px 29px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black-color);
    background: none;
}
/* Rigth img */
.header_image {
    position: relative;
    margin-left: 153px;
}
.girl {
    position: absolute;
    top: 135px;
    left: 0;
    z-index: 1;
}
.yellowbox {
    position: absolute;
    top: 0;
    left: 110px;
    z-index: 0;
}